<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Create Ticket - Penguin Web Studio Bug Tracker</title>

<link rel="icon" type="image/png" href="/images/favicon.png" />
<link href="/css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<script 
  id="recaptchaAPI"
  type="text/javascript"
  src="https://www.google.com/recaptcha/api.js"
></script>
<script type="text/javascript" src="/js/formHandlers.js"></script>

</head>

<body>
	<div id="overlay">
	
		<div th:replace="home :: baseHeader"></div>
	
		<div class="position-relative container-fluid px-0">
			<header class="row p-4 g-0">
				<h1 class="display-3">Create Ticket</h1>
			</header>
			<noscript>
				<div class="alert alert-danger px-4 mb-0">Please enable JavaScript to load all elements.</div>
			</noscript>
			<div 
			  class="alert alert-danger px-4 mb-0"
			  th:if="${notLoggedInError}"
			>You are not logged in.</div>
			<div 
			  class="alert alert-danger px-4 mb-0"
			  th:if="${maxTicketsError}"
			>You have reached the maximum amount of tickets you can create.</div>
			<div 
			  class="alert alert-danger px-4 mb-0"
			  th:if="${recaptchaError}"
			>Invalid recaptcha.</div>
			<div 
			  class="alert alert-danger px-4 mb-0"
			  th:if="${errors != null}"
			>There are errors listed below.</div>
		</div>
		
		<div class="row g-0">
			<div class="d-flex flex-column flex-shrink-0 p-4 text-white bg-light col-sm-5 col-md-4 col-lg-3">
			    <a href="/" class="d-flex align-items-center mb-0 me-md-auto link-dark text-decoration-none">
			      <span class="fs-4">Actions</span>
			    </a>
			    <hr class="link-dark">
			    <ul class="nav nav-pills flex-column mb-4">
			      <li>
			        <a href="/" class="nav-link link-dark">
			          View Open Tickets
			        </a>
			      </li>
			      <li>
			        <a href="/closed" class="nav-link link-dark">
			          View Closed Tickets
			        </a>
			      </li>
			      <li class="nav-item">
			        <a href="/create" class="nav-link active">
			          Create Ticket
			        </a>
			      </li>
			      <li>
			        <a href="/delete" class="nav-link link-dark">
			          Delete Ticket
			        </a>
			      </li>
			     </ul>
			     <span class="link-dark fs-4">Account</span>
			     <hr class="link-dark">
			     <ul class="nav nav-pills flex-column mb-0">
			      <li>
			        <a href="/conversations" class="nav-link link-dark">
			          Your Conversations
			        </a>
			      </li>
			      <li class="nav-item">
			        <form method="POST" th:action="@{/logout}" th:if="${loggedInAs}">
						<button type="submit" 
							name="logout" 
							value="true"
							class="nav-link link-dark w-100 text-start"
							>Logout</button>
					</form>
					<a href="/account/login" class="nav-link link-dark" th:unless="${loggedInAs}">Login</a>
			      </li>
			    </ul>
			</div>
			<div class="col-sm-7 col-md-8 col-lg-9 pt-4 px-4">
				<form
		        method="POST"
		        id="3-form"
		        th:action="@{/create}"
		        th:object="${createForm}"
			    >
			   		<div class="advanced-form mb-4">
			       	  <label class="form-label" for="cEmail">Email</label>
			          <input
			            type="text"
			            class="form-control"
			            name="cEmail"
			            id="cEmail"
			            value=""
			            maxlength="50"
			            autocomplete="off"
			            tabindex="-1"
			          >
			        </div>
			        <div class="mb-4">
			          <label class="form-label" for="cSubtitle">Title</label>
			          <input
			            type="text"
			            th:class="${#fields.hasErrors('cSubtitle')} ? 'form-control is-invalid' : 'form-control'"
			           	th:value="*{cSubtitle}"
			            name="cSubtitle"
			            id="cSubtitle"
			            maxlength="200"
			            autocomplete="off"
			          >
			          <div 
			          	class="invalid-feedback"
			          	th:if="${#fields.hasErrors('cSubtitle')}"
			          >
			          	Can contain A-Z, a-z, 0-9, -, ., ,, !, and spaces.
			          </div>
			        </div>
			        <div class="mb-4">
			          <label class="form-label" for="cCreator">Reporter</label>
			          <input
			            type="text"
			            th:class="${#fields.hasErrors('cCreator')} ? 'form-control is-invalid' : 'form-control'"
			            th:value="*{cCreator}"
			            name="cCreator"
			            id="cCreator"
			            maxlength="50"
			            autocomplete="off"
			          >
			          <div 
			          	class="invalid-feedback"
			          	th:if="${#fields.hasErrors('cCreator')}"
			          >
			          	Can contain A-Z, a-z, 0-9, -, ., ,, !, and spaces.
			          </div>
			        </div>
			        <div class="mb-4">
			          <label class="form-label" for="cStatus">Creator</label>
			          <input
			            type="text"
			            th:class="${#fields.hasErrors('cStatus')} ? 'form-control is-invalid' : 'form-control'"
			            th:value="${loggedInAs}"
			            name="cStatus"
			            id="cStatus"
			            maxlength="50"
			            autocomplete="off"
			            readonly
			          >
			          <div 
			          	class="invalid-feedback"
			          	th:if="${#fields.hasErrors('cStatus')}"
			          >
			          	Can contain A-Z, a-z, 0-9, -, ., ,, !, and spaces.
			          </div>
			        </div>
			        <div class="mb-4">
			          <label class="form-label" for="cTitle">Created On</label>
			          <input
			            type="text"
			            th:class="${#fields.hasErrors('cTitle')} ? 'form-control is-invalid' : 'form-control'"
			            th:value="${currentDateTime}"
			            name="cTitle"
			            id="cTitle"
			            maxlength="50"
			            autocomplete="off"
			            readonly
			          >
			          <div 
			          	class="invalid-feedback"
			          	th:if="${#fields.hasErrors('cTitle')}"
			          >
			          	Must be a valid date and time.
			          </div>
			        </div>
			        <div class="mb-4">
			          <label class="form-label" for="cDetail">Severity</label>
			          <select
			          	th:class="${#fields.hasErrors('cDetail')} ? 'form-select is-invalid' : 'form-select'"
			          	name="cDetail"
			          	id="cDetail"
			          >
			          	<option th:selected="(*{cDetail}=='None')" value="None">None</option>
			          	<option th:selected="(*{cDetail}=='Low')" value="Low">Low</option>
			          	<option th:selected="(*{cDetail}=='Medium')" value="Medium">Medium</option>
			          	<option th:selected="(*{cDetail}=='High')" value="High">High</option>
			          	<option th:selected="(*{cDetail}=='Critical')" value="Critical">Critical</option>
					  </select>
					  <div 
			          	class="invalid-feedback"
			          	th:if="${#fields.hasErrors('cDetail')}"
			          >
			          	Must be a valid severity.
			          </div>
			        </div>
			        <div class="mb-4">
			          <label class="form-label" for="cReporter">Status</label>
			          <select
			          	th:class="${#fields.hasErrors('cReporter')} ? 'form-select is-invalid' : 'form-select'"
			          	name="cReporter"
			          	id="cReporter"
			          >
			          	<option th:selected="(*{cReporter}=='Open')" value="Open">Open</option>
			          	<option th:selected="(*{cReporter}=='To Do')" value="To Do">To Do</option>
			          	<option th:selected="(*{cReporter}=='In Progress')" value="In Progress">In Progress</option>
			          	<option th:selected="(*{cReporter}=='Testing')" value="Testing">To Be Tested</option>
			          	<option th:selected="(*{cReporter}=='Closed')" value="Closed">Closed</option>
					  </select>
					  <div 
			          	class="invalid-feedback"
			          	th:if="${#fields.hasErrors('cReporter')}"
			          >
			          	Must be a valid status.
			          </div>
			        </div>
			        <div class="mb-4">
			          <label class="form-label" for="cExplain">Description</label>
			          <textarea
			          	th:class="${#fields.hasErrors('cExplain')} ? 'form-control is-invalid' : 'form-control'"
			          	name="cExplain"
			          	id="cExplain"
			          	maxlength="1000"
			          	rows="7"
			          	th:text="*{cExplain}"
			          >
			          </textarea>
			          <div 
			          	class="invalid-feedback"
			          	th:if="${#fields.hasErrors('cExplain')}"
			          >
			          	Can contain A-Z, a-z, 0-9, spaces, returns, !, @, #, $, %, ^, &, *, ., ,, ?, ', and ".
			          </div>
			        </div>
			        <div class="pb-4">
			          <button
			            type="submit"
			            class="btn btn-secondary mb-2 g-recaptcha"
			            th:attr="data-sitekey=${recaptchaSiteKey}"
					    data-callback="createSubmit"
					    data-action="create"
			          >Create</button>
			        </div>
				</form>
			</div>
		</div>
		
		<div th:replace="home :: baseFooter"></div>
		
	</div>
</body>

</html>
